.visually-hidden {
    display: none;
}

.reset-style {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Playfair Display, "Baskerville Old Face", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
}

.page-header {
    display: grid;
    width: 100%;
    margin-top: 26px;
    align-items: center;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;

    font-family: Montserrat, "Times New Roman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.page-header > a {
    position: absolute;
    left: 622px;
    top: 44px;
}

.link-nav {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: auto;
    padding: 22px 0 22px 0;
}

.link-nav li {
    min-width: 65px;
}

.link-nav a {
    text-decoration: none;
    color: #AE7C78;
}  /* Окончание стилей шапки*/

/*Стартовый блок*/
.start-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    margin: 81px auto 0 auto;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.start-container h1 { /*Главный заголовок */;
    font-family: Playfair Display, "Baskerville Old Face", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}

.start-container p {
    margin: 24px 0 0 0;
}

.start-container span {
    font-style: italic;
}

.start-container a,
.popular-slider a /* стили ссылок*/
{
    display: inline-block;
    box-sizing: border-box;
    padding: 30px 70px;
    margin: 64px 0 0 0;
    border-radius: 40px;
    background: #D89999;

    text-decoration: none;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.start-container img:first-of-type {
    margin-top: 59px;
    margin-left: 10px;
    background: #E5E5E5;
}

.start-container img:last-of-type {
    margin-left: 11px;
}  /* Окончание стартового блока */

.benefits { /* Начало раздела приемущества */
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0 auto;
    justify-content: space-between;
}

.fast-delivery::before {
    background-image: url("../img/svg/delivery_icon.svg");
    content: "";
    width: 82px;
    height: 52px;
}

.freshness::before {
    background-image: url("../img/svg/flower_icon.svg");
    content: "";
    width: 52px;
    height: 52px;
}

.photo_making::before {
    background-image: url("../img/svg/photo_icon.svg");
    content: "";
    width: 59px;
    height: 52px;
}

.benefit-block {
    display: flex;
}

.benefit-block dl {
    width: 285px;
    margin: 0 0 0 20px;
}

.steps dt,
.benefit-block dt {
    margin: 0 0 8px 0;

    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #AE7C78;
}

.steps dd,
.benefit-block dd {
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #AE7C78;
}  /*Окончание блока приемушеств */

.popular-slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 794px;
    margin: 80px auto 0 auto;

    font-family: Montserrat, "Times New Roman", sans-serif;
    color: #AE7C78;
}

.popular-slider .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 36px 0 0 0;
}

.popular-slider h3 { /*Заголовок в слайдере */
    margin: 25px 0 0 0;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.popular-slider p { /* Абзацы в слайдере */
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 24px 0 25px 0;
}

.popular-slider p:last-of-type {
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.popular-slider a {
    padding: 30px 107px;
    margin: 38px 0 0 0;
}

.popular-slider img {
    background-color: #E5E5E5;
}

.slider_controls [class|="button"] {
    width: 50px;
    height: 16px;
    margin: 18px 12px 0 0;
    border: none;
}

.button-left {
    background: url("../img/left-arrow.png") no-repeat;
}

.button-right {
    background: url("../img/right-arrow.png") no-repeat;
}

/* Разметка каталога*/
.catalog { /* Разметка контейнера*/
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 19px;
    margin: 65px auto 0 auto;
}

.catalog-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 387px;
    min-height: 442px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catalog .wedding-bouquet { /* Разметка 1 колонки*/
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url("../img/catalog1.png");
}

.catalog .pion-bouquet { /* Разметка 2 колонки*/
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url("../img/catalog2.png") no-repeat;

}

.catalog .choose_bouquet { /* Разметка 3 колонки*/
    background: linear-gradient(rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)), url("../img/catalog3.png") no-repeat;
}

.catalog a { /* Стили заголовков*/
    font-family: Playfair Display, "Baskerville Old Face", sans-serif;
    font-size: 36px;
    display: block;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.catalog p { /* Стили заголовков*/
    margin: 8px 0 0 0;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* Конец разметки каталога*/

/* Блок со скидками */
.discount {
    width: 1200px;
    display: flex;
    min-height: 391px;
    margin: 80px auto;
    background: url("../img/sale_colorful_bouquet.png") no-repeat right, #AE7C78;
}

.discount div {
    padding: 0 711px 0 102px;
}

.discount p:first-of-type {
    margin: 40px 0 0 0;
    font-family: Playfair Display, "Baskerville Old Face", sans-serif;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.discount p:last-of-type {
    margin: 24px 0 0 0;
    font-family: Montserrat, "Times New Roman", sans-serif;

    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

.discount-block::before {
    width: 590px;
    height: 391px;
    content: "";
    background: url("../img/sale_colorful_bouquet.png");
}

/*Окончание блока */

.steps { /* Начало блока 4 шага */
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 80px auto;
}

.steps-block {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps .order::before {
    background-image: url("../img/svg/computer_icon.svg");
    content: "";
    width: 67px;
    height: 52px;
}

.steps .consult::before {
    background-image: url("../img/svg/operator_icon.svg");
    content: "";
    width: 38px;
    height: 52px;
}

.steps .payment::before {
    background-image: url("../img/svg/credit_card_icon.svg");
    content: "";
    width: 70px;
    height: 52px;
}

.steps .delivery::before {
    background-image: url("../img/svg/fast_truck_icon.svg");
    content: "";
    width: 83px;
    height: 52px;
}

.steps h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 36px 0;
}

.steps-block dt,
.steps-block dd {
    text-align: center;
    margin: 8px 0 0 0;
}

/*Окончание блока */

.news {
    width: 1200px;
    display: grid;
    grid-template-columns: 487px auto;
    gap: 20px;
    margin: 0 auto 80px auto;
}

.news-block {
    width: 387px;
    margin: 70px 0 0 0;
}

.news p {
    margin: 40px 0;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.news-images {
    display: grid;
    min-height: 460px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.news-images img:nth-of-type(2) {
    grid-row: span 2;
}

.news .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.social-links a {
    margin: 0 15px 0 0;
}

.news_instagram {
    width: 21px;
    height: 20px;
    background: url("../img/svg/news_instagram_icon.svg");
    content: "";
}

.news_facebook {
    width: 12px;
    height: 20px;
    background: url("../img/svg/news_facebook_icon.svg");
    content: "";
}

.news_twitter {
    width: 26px;
    height: 20px;
    background: url("../img/svg/news_twitter_icon.svg");
    content: "";
}

/* Окончание блока */

.comments {
    width: 1200px;
    display: grid;

    border: 1px solid #AE7C78;
    margin: 0 auto 80px auto;
}

.comments h2 {
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.comments .reply {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comments blockquote {
    width: 300px;
    margin: 0 0 63px;

    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}

.comments p {
    margin: 0 0 16px 0;
}

.comments cite {
    margin: 16px 0 0 0;
    font-weight: 500;
    font-style: normal;
}  /* окончание блока */

.contacts img {
    position: absolute;
    top: 3729px;
/*    z-index: -1;*/
}

.contacts-block {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 386px;
    left: 175px;
    top: 50px;
    padding: 0 35px 20px 35px;
    z-index: 5;

    background: #F7FAFC;
    box-shadow: 0 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}

.contacts-block h2 {
    margin: 40px 0 42px 0;
    letter-spacing: normal;
}

.contacts-block p {
    padding: 0;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #AE7C78;
    text-decoration: none;
}

.contacts-block p:nth-child(even) {
    margin: 0 0 14px 0;
    font-weight: 500;
}

.contacts-block p:nth-child(odd) {
    margin: 0 0 33px 0;
}

.contacts-block p:first-of-type {
    margin: 0 0 21px 0;
}

.contacts-block a {
    padding: 0;
    margin: 0;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
    text-decoration: none;

}

.page-footer {
    display: flex;
    background-color: #AE7C78;
    margin: 117px 0 0 0;
    z-index: 5;
}

.footer-logo {
    margin: 24px 104px 44px 78px;
    padding: 0;
}

.page-footer .footer-link {
    margin: 10px 105px 32px 0;
    display: flex;
    width: 794px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.page-footer .footer-link a {
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Times New Roman", sans-serif;
    font-size: 16px;
    line-height: 20px;

    text-decoration: none;
    color: #FFFFFF;
}

.page-footer li {
    margin: 0;
    padding: 0;
}

.footer-social {
    margin: 0 0 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-social a {
    margin: 0 19px 0 0;
}

.footer_instagram {
    width: 21px;
    height: 20px;
    background: url("../img/footer_instagram_icon.svg");
    content: "";
}

.footer_facebook {
    width: 12px;
    height: 20px;
    background: url("../img/footer_facebook_icon.svg");
    content: "";
}

.footer_twitter {
    width: 26px;
    height: 20px;
    background: url("../img/footer_twitter_icon.svg");
    content: "";
}