.visually-hidden{ /* Ниндзя-класс*/
    display: none;
}

.reset-line{
    margin:0;
    padding: 0;
}


body{
    background-color: #E5E5E5;
}

h2{ /* Стили для всех заголовков h2*/
    font-family: Playfair Display, "Baskerville Old Face", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #AE7C78;
}
/*Шапка*/
.page-header { /*Разметка и стили шапки*/
    display: grid;
    grid-template-rows: 60px;
    margin-top: 27px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;

    font-family: Montserrat, "Times New Roman", sans-serif;
    font-weight: 400;
    align-items: center;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}

.link-nav{ /* Разметка блока навигации */
    display:flex;
    margin:0;
    justify-content: space-around;
    align-items:  center;
    list-style-type: none;
}

.link-nav a{ /* Стиль ссылок в навигации*/
    text-decoration: none;
    color: #AE7C78;
}/* Окончание стилей шапки*/

/*Стартовый блок*/
.start-container{ /*Разметка и стили стартового блока*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    margin: 0 120px 0 120px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.start-title h1{
    margin-top: 81px;
}

.start-container h1{ /*Главный заголовок */;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}

.start-container span{ /* курсив  в заголовке*/
    font-style: italic;
}

.start-container a, /* стили ссылок*/
.popular-slider a{
    Font-family: Montserrat;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 20px;
    margin-top: 94px;

    text-decoration: none;
    background-color:#D89999;
    color: #FFFFFF;
    box-shadow: ;

}

.start-container img:first-of-type{
    margin-top: 140px;
}

.start-container img:last-of-type{
    margin-top: 82px;
}

/* Окончание стартового блока */
.benefits{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 48px 120px 0 120px;
    justify-content: center;
    align-items: center;
}

.steps dt,
.benefits dt{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#AE7C78;

}
.steps dd,
.benefits dd{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#AE7C78;
} /*Окончание блока приемушеств */

.popular-slider{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    width: 794px;
    margin: 0 323px 0 323px;
}

.popular-slider h3{ /*Заголовок в слайдере */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.popular-slider p{ /* Абзацы в слайдере */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}
.popular-slider p:last-of-type {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}     /*Конец разметки слайдера */

/* Разметка каталога*/
.catalog{ /* Разметка контейнера*/
    width: 1200px;
    height: 442px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 19px;
    margin:auto;
}
.catalog h3{
    margin: 0;
    padding: 0;
}

.catalog .wedding-bouquet{ /* Разметка 1 колонки*/
    display: flex;
    flex-direction: column;
    height: 442px;
    width:387px;
    background-image:linear-gradient(rgba(174, 124, 120, 0.6),rgba(174, 124, 120, 0.6))
                    ,url("./img/catalog1.png");
    text-align: center;
    background-color: rgba(174, 124, 120, 0.6);
    justify-content: center;
    border-radius: 10px;
}

.catalog .pion-bouquet{ /* Разметка 2 колонки*/
    display: flex;
    flex-direction: column;
    height: 442px;
    width:387px;
    background: linear-gradient(rgba(174, 124, 120, 0.6),rgba(174, 124, 120, 0.6)),
                                url("./img/catalog2.png") no-repeat;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catalog .choose_bouquet { /* Разметка 3 колонки*/
    display: flex;
    flex-direction: column;
    height: 442px;
    width: 387px;
    background: linear-gradient(rgba(174, 124, 120, 0.6),rgba(174, 124, 120, 0.6)),
                url("./img/catalog3.png") no-repeat;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.catalog h3{ /* Стили заголовков*/
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
    color: black;
    color:#FFFFFF;
}

.catalog p{ /* Стили заголовков*/
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: black;
    color: #FFFFFF;
}/* Конец разметки каталога*/

/* Блок со скидками */
.discount{
    background-color: #AE7C78;
}
.discount p{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF
}
.discount p:last-of-type{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF
}

.news p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.comments{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    border: 1px solid #AE7C78;
    margin: auto;
}

.comments blockquote{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #AE7C78;
}

.comments cite {
    font-weight: 500;
    font-style: normal;
}

.map p:nth-child(odd){
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #AE7C78;
}

.map p:nth-child(even){
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #AE7C78;
}
.popular-slider a,
.page-footer a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.page-footer{
    background-color: #AE7C78;

}


footer ul{
    list-style-type: none;
    text-decoration: none;

}